*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: $background;
  background-image: url("../img/black-linen.webp");
  font: 14px "Sen", sans-serif;
  color: $defaultColor;
  text-align: center;
  margin: auto;
}
button:focus {
  outline: none;
}
