@keyframes drawlines {
  from {
    height: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes strikethrough {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #452e00;
  background-image: url("../img/black-linen.webp");
  font: 14px "Sen", sans-serif;
  color: #ccc19d;
  text-align: center;
  margin: auto;
}

button:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#game {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  flex: 0 0 auto;
  height: 7vh;
  margin: 0 2vw 0 2vw;
}

#title {
  font-size: 7vh;
  margin: 0;
}

#logo {
  display: flex;
  padding: 0 4vw 0 4vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 5vh 0;
}

#board {
  position: relative;
  border: none;
  max-height: 100%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.gridLine {
  opacity: 0.8;
  position: absolute;
  height: 100%;
  width: 1vh;
  border-radius: 10px;
  pointer-events: none;
  background-color: #ccc19d;
  animation: 1s both drawlines;
}
.gridLine#id1 {
  top: 0;
  left: calc(100% / 3);
}
.gridLine#id2 {
  top: 0;
  left: calc(100% / 3 * 2);
  animation-delay: 0.3s;
}
.gridLine#id3 {
  top: calc(100% / 3);
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  animation-delay: 0.6s;
}
.gridLine#id4 {
  top: calc(100% / 3 * 2);
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  animation-delay: 0.9s;
}

.square {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  border-radius: 0px;
  border: none;
  float: left;
}
.square .xline {
  stroke-linecap: round;
  stroke: #d4b357;
  animation: 0.25s ease forwards draw;
}
.square .xline#rotated {
  animation: 0.25s 0.25s ease forwards draw;
}
.square .circle {
  stroke-linecap: round;
  stroke: #d4b357;
  fill: transparent;
  animation: 0.7s ease forwards draw;
}

#gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
}
@supports not (backdrop-filter: blur()) {
  #gameOver {
    background-color: rgba(51, 28, 4, 0.95);
  }
}
#gameOver p {
  font-size: 7em;
  opacity: 0.8;
  text-shadow: 0px 0px 25px #ccc19d;
  color: #ccc19d;
}
#gameOver p span {
  position: relative;
}
#gameOver p span::after {
  animation: 1s ease both 2.5s strikethrough;
  display: block;
  content: "";
  height: 10%;
  border-radius: 10px;
  opacity: 0.9;
  background-color: red;
  position: absolute;
  left: -5%;
  top: 55%;
}

#winningline {
  opacity: 0.9;
  position: absolute;
  width: 0;
  border-radius: 10px;
  transform-origin: left;
  background-color: #c00;
  transition: width 1s 1s;
}

.btn {
  cursor: pointer;
  background: #d4b357;
  color: #544418;
  max-width: 80vw;
  border: none;
  padding: 1vh;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 8vh;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background: #917524;
  }
}

/*# sourceMappingURL=index.css.map */
